#canvas_area
{
    width: 800px;
    height: 800px;
}

canvas
{
    margin: 0;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

body
{
    margin: 0px;
    background: #222;
    /* Prevents pinch-zoom under chrome */
    touch-action: none;
}
